.celerio/
.idea/
*.iml
*.class
src/main/generated-java
src/test/generated-java
src/main/resources
src/main/webapp
src/main/config/celerio-maven-plugin/metadata.xml
target/
bower_components/
*.log

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/192.168.1.128.tm2.epoch
/.settings/
/.tern-project
/.project
/pom.xml.h2
