language: java
jdk:
  - oraclejdk8
install:
  - npm install -g bower
script: 
  - bower install
  - mvn -Pdb,metadata,gen
  - mvn test
notifications:
  slack: jaxio:xwR8miiTTdrIAaNQvyJ0cb47
after_success:
   - python <(curl -s https://raw.githubusercontent.com/TouK/sputnik-ci/master/sputnik-ci.py)
   
