$output.webapp("assets/tpl/apps/${entity.model.var}", "${entity.model.var}.html")##

#set ($str1 = "")
#set ($str2 = "")
#set ($str3 = "")
#set ($str4 = "")
#set ($str5 = "")
#set ($str6 = "")
#set ($str7 = "")
#set ($str8 = "")
#set ($str9 = "")
#set ($str10 = "")
#generateSimpleOrCompositeKeyForURL($str1 $str2 $str3 $str4 $str5 $str6 $str7 $str8 $str9 $str10 $entity.attributes.list)

<section>
  <div class="page-header">
    <div class="actions" >
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="showInfo()" data-title="{{ 'INFO' | translate }}" bs-tooltip><span class="md md-info-outline"></span></button>
	  <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="searchItem()" data-title="{{ 'SEARCH' | translate }}" bs-tooltip><span class="md md-search"></span></button>
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="refresh()" data-title="{{ 'REFRESH_GRID' | translate }}" bs-tooltip><span class="md md-refresh"></span></button>
      
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="clear()" data-title="{{ 'CLEAR_GRID' | translate }}" bs-tooltip><span class="md md-clear"></span></button>
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="index()" data-title="{{ 'INDEX_ITEMS' | translate }}" bs-tooltip><span class="md md-assessment"></span></button>
      
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ui-sref="config${entity.name}()" data-title="{{ 'CONFIG_ENTITY' | translate }}" bs-tooltip><span class="md md-assignment"></span></button>
      
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-csv="getCSVData()" field-separator=";" lazy-load="true" charset="utf-8" filename="${entity.model.var}Data.csv" csv-label="true" data-title="export the grid"><span class="md md-get-app"></span></button>
      
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="checkBoxValue()" data-title="test button" bs-tooltip><span class="md md-info"></span></button>
    </div>

    <h1>
      <i class="md md-camera"></i>
      ${entity.model.type} entity
    </h1>
    <p class="lead">
      In most applications you need basic table listings and editing capabilities.
      With this app you can create simple admin functionality based on a json web service.
    </p>
  </div>
</section>

<div>


    <div class="table-responsive well no-padding white no-margin">
      <h3 class="table-title">{{data.length}} of {{pagination.totalElements}} {{settings.plural}} available</h3>

      <table class="table table-full m-b-60" id="table-area-1" fsm-big-data="data of data take 30">
        <thead>
        <tr fsm-sticky-header scroll-body="'${pound}table-area-1'" scroll-stop="64">
          <th><input type="checkbox" class="relative" ng-model="selectAll" ng-click="checkAll()" /></th>
          <th>Icon</th>
#if (($entity.hasSimplePk()))
			<th fsm-sort="$entity.getPrimaryKey().getAttribute().var">$entity.getPrimaryKey().getAttribute().varUp</th>
#else
		<th>Id composite</th>
#end			
#foreach ($attribute in $entity.attributes.list)
	#if (!$attribute.isInFk() && !$attribute.isInCpk() && !$attribute.isInPk())
		  <th fsm-sort="$attribute.var" ng-show="configValue.${attribute.var}">$attribute.varUp</th>
	#end
#end

## --------------- One to one: header in the table
#foreach ($relation in $entity.oneToOne.list)
		  <th fsm-sort="${relation.to.var}.$relation.toEntity.getNotInPkAttributes().getFirst().getName()">$relation.to.varUp</th>
#end
## --------------- Many to one
#foreach ($relation in $entity.manyToOne.list)
		  <th fsm-sort="${relation.to.var}.$relation.toEntity.getNotInPkAttributes().getFirst().getName()">$relation.to.varUp</th>
#end
          <th class="text-right">Actions</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="(key, item) in data" ng-click="item.selected=!item.selected"  ng-dblclick="editItem(item)">
            <td><input type="checkbox" class="relative" ng-model="item.selected" ng-click="${dollar}event.stopPropagation()" /></td>
            <td ng-bind-html="item.icon" class="f20"></td>
#if (($entity.hasSimplePk()))
			<td>{{item.${entity.getPrimaryKey().getAttribute().var}}}</td>
#else
		<td>$str7</td>
#end	            
#foreach ($attribute in $entity.nonCpkAttributes.list)
	#if (!$attribute.isInFk() && !$attribute.isInCpk() && !$attribute.isInPk())
		#if ($attribute.type == "Date")
			<td  ng-show="configValue.${attribute.var}">{{item.${attribute.var} | date:"dd/MM/yyyy"}}</td>
		#elseif ($attribute.mappedType == "M_CLOB")
			<td ng-show="configValue.${attribute.var}"><div ng-init="limit = 50; moreShown = false; lessShown = false;">
    			{{item.${attribute.var} | limitTo: limit}}
    			<a ng-show="item.${attribute.var}.length > limit" href ng-click="limit=item.${attribute.var}.length; moreShown = true; lessShown = true;" data-title="{{ 'MORE_TOOLTIP' | translate }}" bs-tooltip>...  <b>{{ 'MORE' | translate }}</b></a>    			
    			<a ng-show="lessShown == true" href ng-click="limit=50; moreShown = false; lessShown = false">  <b>{{ 'LESS' | translate }}</b></a>
				</div></td>			
		#else
		    <td ng-show="configValue.${attribute.var}">{{item.${attribute.var}}}</td>
		#end
	#end	    
#end
## --------------- One to one: value inside the table
#foreach ($relation in $entity.oneToOne.list)
		  <td><a ui-sref="edit${relation.to.type}(#if ((${relation.toEntity.hasSimplePk()})) {id:item.${relation.to.var}.${relation.toEntity.getPrimaryKey().getAttribute().name}} #else <!-- FIXME --> #end)">{{item.${relation.to.var}.$relation.toEntity.getNotInPkAttributes().getFirst().getName()}}</a></td>
#end
## --------------- Many to one
#foreach ($relation in $entity.manyToOne.list)
		  <td><a ui-sref="edit${relation.to.type}(#if ((${relation.toEntity.hasSimplePk()})) {id:item.${relation.to.var}.${relation.toEntity.getPrimaryKey().getAttribute().name}} #else <!-- FIXME --> #end)">{{item.${relation.to.var}.$relation.toEntity.getNotInPkAttributes().getFirst().getName()}}</a></td>
#end		
            <td class="text-right" ng-click="${dollar}event.stopPropagation()">
              <button type="button" class="btn btn-link btn-round" data-title="{{ 'EDIT_ITEM' | translate }}" ui-sref="edit${entity.model.type}(#if (($entity.hasSimplePk())) {id:item.id} #else $str8 #end)" bs-tooltip><i class="md md-edit"></i></button>
              <button type="button" class="btn btn-link btn-round" data-title="{{ 'VIEW_ITEM' | translate }}" ui-sref="view${entity.model.type}(#if (($entity.hasSimplePk())) {id:item.id} #else $str8 #end)" bs-tooltip><i class="md md-search"></i></button>
              <button type="button" class="btn btn-link btn-round" data-title="{{ 'DELETE_ITEM' | translate }}" ng-click="remove(item)" bs-tooltip><i class="md md-delete"></i></button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div class="p-20">
      	<li class="pager">
			<button type="button" ng-click="first()" ng-disabled="pagination.first" class="btn btn-default pull-left">|&laquo; First</button>      
      		<button type="button" ng-click="prev()" ng-disabled="pagination.first" class="btn btn-default pull-left">&laquo; Previous</button>
      		<button type="button" ng-click="last()" ng-disabled="pagination.last" class="btn btn-default pull-right">Last &raquo;|</button>
      		<button type="button" ng-click="next()" ng-disabled="pagination.last" class="btn btn-default pull-right">Next &raquo;</button>
      	</li>
      </div>
    </div>

  <br><br><br><br>
  <div class="footer-buttons">
    <div class="btn btn-primary btn-round btn-lg m-r-10 btn-footer" ng-show="(data|filter:{selected: true}).length" ng-click="remove()"  data-title="Remove {{(data|filter:{selected: true}).length}} item(s)" bs-tooltip><i class="md md-delete"></i></div>
    <div class="btn btn-default btn-round btn-lg m-r-10 btn-footer" scroll-to="top" ng-hide="scroll<100" data-title="{{ 'SCROLL_TO_TOP' | translate }}" bs-tooltip><i class="md md-arrow-drop-up"></i></div>
    <div class="btn btn-primary btn-round btn-lg" ui-sref="create${entity.model.type}()" data-title="New {{settings.singular}}" bs-tooltip><i class="md md-add"></i></div>
  </div>

</div>