$output.webapp("assets/tpl/apps/${entity.model.var}", "${entity.model.var}Search.html")##

<div class="aside bs-docs-aside" tabindex="-1" role="dialog">
  <div class="close">
    <div class="btn btn-round btn-info" ng-click="${dollar}hide()" data-title="{{ 'CLOSE' | translate }}" bs-tooltip><i class="md md-close"></i></div>
  </div>

  <div class="aside-dialog">
    <div class="aside-body bs-sidebar">

      <form class="form-floating" novalidate="novalidate" ng-submit="startSearch(savedSearch)">
        <fieldset>
          <legend><span ng-bind-html="savedSearch.icon"></span> {{cmd}} {{settings.singular}} search</legend>

#foreach ($attribute in $entity.nonCpkAttributes.list)		
	#if (!$attribute.isInPk()  && !$attribute.isInFk())
		<div class="form-group filled">
		    <label class="control-label">$attribute.varUp</label>
        #if ($attribute.type == "BigDecimal" || $attribute.type == "Boolean" || $attribute.type == "Double" || $attribute.type == "Integer" || $attribute.type == "BigInteger")
        	<input type="text" class="form-control" ng-model="savedSearch.${attribute.var}">
    	#elseif ($attribute.type == "String")
            <input type="text" class="form-control" ng-model="savedSearch.${attribute.var}">
        #elseif ($attribute.type == "Date")
        	<input type="text" class="form-control" ng-model="savedSearch.${attribute.var}" data-autoclose="1" placeholder="{{ '${attribute.name}' | translate }}" bs-datepicker>
        #else
        	<p>Type [$attribute.type] not implemented yet !!!!</p>
        #end
        </div>
	#end
	
	#if ($attribute.isInFk())
		#if ($attribute.getXToOneRelation().isManyToOne())
			<div class="form-group filled">
            	<label class="control-label">${attribute.getEntityIPointTo().name}</label>
            	<ui-select ng-model="savedSearch.${attribute.var}" theme="select2" title="Choose an $attribute.getEntityIPointTo().name.toLowerCase()" search-enabled="false">
                	<ui-select-match placeholder="Choose an $attribute.getEntityIPointTo().name.toLowerCase()">{{${dollar}select.selected.name}}</ui-select-match>
                	<ui-select-choices repeat="item in ${attribute.getEntityIPointTo().name.toLowerCase()}s | filter: ${dollar}select.search">
                  		<div ng-bind-html="item.name | highlight: ${dollar}select.search"></div>
                  		#foreach ($pkAttribute in $attribute.getEntityIPointTo().getPrimaryKeyAttributes().list)
                  			<small ng-bind-html="item.$pkAttribute.name | highlight: ${dollar}select.search"></small>
                  		#end
                	</ui-select-choices>
             	</ui-select>
		 </div>
		#else
			<p>Type of relation [$attribute.getXToOneRelation()] not implemented yet !!!!</p>
		#end 
	#end
	
#end

          <div class="form-group">
            <button type="button" ng-click="clearSavedSearch()" class="btn btn-lg btn-primary">{{ 'CLEAR' | translate }}</button>
            <button type="submit" class="btn btn-lg btn-primary">{{ 'SEARCH' | translate }}</button>
          </div>

        </fieldset>
      </form>

	  <form class="form-floating" novalidate="novalidate" ng-submit="startElasticSearch(savedSearch)">
        <fieldset>
      
          <div class="form-group filled">
            <label class="control-label">{{ 'QUERY' | translate }}</label>
            <input type="text" class="form-control" ng-model="savedSearch.query" required>
          </div>
          
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary" >{{ 'ELASTIC_SEARCH' | translate }}</button>
          </div>

        </fieldset>
      </form>
          
          
    </div>
  </div>
</div>