$output.resource("application.yml")##

debug: false # enable a “debug” mode for logging

security:
    basic:
        enabled: false

spring:
    application:
        admin:
            enabled: true # Enable admin features for the application.
    datasource:
        driver-class-name: @jdbc.driver@
        url: @jdbc.url@
        name:
        username: @jdbc.user@
        password: @jdbc.password@
    jpa:
        open-in-view: false
        hibernate:
            ddl-auto: none
            naming-strategy: org.springframework.boot.orm.jpa.hibernate.SpringNamingStrategy

        database-platform: @hibernate.dialect@
        database: H2
        show_sql: true
        properties:
            hibernate.cache.use_second_level_cache: false
            hibernate.cache.use_query_cache: false
            hibernate.generate_statistics: true
    data:
        elasticsearch:
            cluster-name:
            cluster-nodes:
            properties:
                path:
                  logs: target/elasticsearch/log
                  data: target/elasticsearch/data
                http:
                  enabled: true             
    mail:
        host: localhost
    messages:
        cache-seconds: 1

server:
    port: 8080
    contextPath: /myApp
    
