$output.webapp("assets/tpl", "settings.html")##
<section>
  <div class="page-header">
    <div class="actions" >
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text"><span class="md md-info-outline"></span></button>
	  <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="searchItem()" data-title="search"><span class="md md-search"></span></button>
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="refresh()"><span class="md md-refresh"></span></button>
      
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="clear()"><span class="md md-clear"></span></button>
      <button type="button" class="btn btn-link btn-round-sm theme-secondary-text" ng-click="index()"><span class="md md-settings"></span></button>
    </div>

    <h1>
      <i class="md md-camera"></i>
      Settings
    </h1>
    <p class="lead">
      this page should list user's settings.
    </p>
  </div>
</section>
 